@import "base";

.article-wrap{
	margin-top:50px;
}
.classify-item{
	position:relative;
	&.classify-item-fir{
		margin-top: 10px;
		.classify-item-title{
			line-height: 40px;
			.time{
				color: #444;
				font-size: 16px;
				.anticon{
					margin-right: 4px;
				}
			}
		}
	}
	.classify-item-title{
		line-height: 30px;
		display: inline-block;
		font-size: 14px;
		&:hover{
			.time{
				color: #333;
			}
			a{
				color: $blue;
				text-decoration: underline;
			}
		}
		.time{
			color: #999;
			margin-right: 25px;
			transition: color .2s;
		}
		a{
			color: #666;
			transition: color .2s;
		}
	}
}

.timeline-view{
	margin-bottom:40px;
	padding:20px 21px 15px 21px;
	border:1px solid #ddd;
	.tl-head{
		width: 688px;
		display: block;
		margin-left: 38px;
		overflow: hidden;
		.tl-month{
			width: 1376px;
			display: block;
			height: 14px;
			line-height: 14px;
			margin-bottom: 5px;
			.tl-month-title{
				display: block;
				height: 14px;
				float: left;
				width: 57.333px;
				text-align: center;
				font-size: 13px;
			}
		}
	}
	.tl-main{
		width: auto;
		height: auto;
		font-size: 12px;
		color: #666;
		border-radius: 4px;
		&:after{
			@include floatFun();
		}
	}
	.tl-left{
		float: left;
		width: 30px;
		margin-right: 8px;
		.tl-title{
			height: auto;
			.tl-item{
				display: block;
				height: 12px;
				width: 30px;
				line-height: 12px;
				margin-top: 12px;
				text-align: right;
				&:first-child{
					margin-top: 10px;
				}
				
			}
		}
	}
	.tl-right{
		float: left;
		&:after{
			@include floatFun();
		}
		.react{
			width: 11px;
			margin-right: 2px;
			float: left;
			
		}
	}
	.react-item{
		display: block;
		width: 10px;
		height: 10px;
		background-color: #ddd;
		margin:0;
		margin-bottom: 2px;
		position:relative;
		&:hover .today-contribtions{ display:block;}
	}
	.tl-footer{
		font-size:13px;
		.info-main{
			display: block;
			margin-top: 5px;
			.lable{
				display: block;
				float:right;
			}
		}
		em{
			font-style: normal;
			margin: 0 1px;
			vertical-align: middle;
		}
		.react-item{
			display: inline-block;
			margin: 0 1px;
			vertical-align: middle;
		}
	}
	.today-contribtions{
		display:none;
		position:absolute;
		top: -50px;
		left: -95px;
		z-index: 99;
		width: 180px;
		height: 20px;
		line-height: 20px;
		padding: 10px;
		font-size: 12px;
		color: #959da5;
		text-align: center;
		background: rgba(0,0,0,0.8);
		border-radius: 3px;
		strong{
			color: #dfe2e5;
		}
		&:after {
			position: absolute;
			bottom: -10px;
			left: 50%;
			width: 5px;
			height: 5px;
			box-sizing: border-box;
			margin: 0 0 0 -5px;
			content: " ";
			border: 5px solid transparent;
			border-top-color: rgba(0,0,0,0.8);
		}
	}
}
.tags-view{
	margin-bottom:30px;
	.list{
		&:after{
			@include floatFun();
		}
		.list-item{
			width: auto;
			float:left;
			padding: 2px 7px;
			border:1px solid #108ee9;
			margin:0 10px 10px 0;
			border-radius:2px;
			cursor: pointer;
			transition: background 0.25s;
			&:hover{
				background-color: #108ee9;
				a,i{
					color: #fff;
				}
			}
			i{
				margin-right: 3px;
				transition: color 0.25s;
				vertical-align: middle;
			}
			a{
				color: #108ee9;
				transition: color 0.25s;
				display: block;
				height: 18px;
				line-height: 18px;
				width: auto;
				font-size: 12px;
			}
		}
	}
}













